<section class="slider_area">
  <h2 class="section_header">slider</h2>
  {{image-slider}}
</section><!--end slider_area-->

<section class="blocksarea">
  <h2 class="section_header">block</h2>
  <div class="innerbackgrouond container">
    <div class="row">
      <div class="mondynightarea col-xs-12">
        <h2 class="mondaynight">Monday Night HCC Jazz Band</h2>
      </div>
    </div>
    <div class="blockrow row">
      <div class="col-xs-12 col-sm-6">
        <div class="single_block">
          <h2><span>//</span>our mission</h2>
          <p>
            To promote education and an appreciation of jazz in the greater Houston area by raising funds for workshops, lectures, clinics, scholarships, performances and sponsorship of the Houston Community College Jazz program.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="single_block">
          <h2><span>//</span>events</h2>
          <div class="performance">
            <i class="fa fa-star"></i>
            <h3>Performance @ Cadillac Bar </h3>
            <span>November 24 @ 7:30 pm</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section><!--end slider_area-->

<section class="bigmotelarea">
  <h2 class="section_header">big</h2>
  <div class="innerbackgrouond container">
    <div class="row">
      <div class="col-sm-12">
        <div class="maincontentbig">
          <h2>Announcing the Release of "Big Motel"</h2>
          <div class="innertab">
            <div>

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">CD JACKET</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">LINER NOTES</a></li>


              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tabpdf tab-pane active" id="home">
                  <a href="">
                    <img src="/assets/img/BigMotel_Jacket_Nov3.jpg" alt="pdf" class="img-responsive" />
                  </a>
                </div>
                <div role="tabpanel" class="tabcontent tab-pane" id="profile">
                  <h2>HCC – Big Motel – Liner Notes </h2>
                  <p>
                    There is an old adage that says, “Those who can, do. Those who cannot, teach.” Let this recording serve as contradictory evidence that makes this statement, at least with regard to the HCC jazz faculty, absolutely false. The jazz faculty members in particular are the band’s director, Woody Witt, and the pianist and composer of these impressive compositions - Joe LoCascio. These two outstanding teachers bring their vast artistic experience to the classroom and to all of the jazz students at Houston Community College (also known as HCC). Because of their dedication to teaching and their accomplishments in performing jazz, the HCC program has thrived and garnered an impressive reputation. Indeed these gentlemen lead by example and thus inspire the band members to attain a performance level that most likely would not have been possible without their esteemed leadership.
                  </p>

                  <p>
                    Particularly impressive is that this recording was done live without the technological assistance of multiple overdubs (with the exception of some of the improvised solos). All the music you will hear was recorded within a 7-hour timeframe. And to prepare for this, the band could rehearse only once a week on Monday nights. But please don’t misinterpret this as any sort of apology. To the contrary, it underscores the high level of musicianship that exists in this band and how well they handle this complex music with only a fraction of what most college bands have for rehearsal time.
                  </p>

                  <p>
                    As a composer, Joe LoCascio exhibits his gifts for melody, counterpoint, harmony, and texture. His writing is hip but also accessible (in the best sense of that latter description). He knows how to keep the listener engaged and is sensitive to that ever-critical balance of averting boredom and confusion – either can frustrate the listener. Quite often, the music is complex with multiple layers of ideas and harmonic progressions that may be less familiar. Ultimately, the band members have the obligation and challenge to bring forth Joe’s wonderfully imaginative ideas. If their technical execution is not flawless, it is certainly sincere and passionate. For most seasoned musicians, that is always the preferred trade-off. So please listen to these fine musicians in that context and appreciate the interest in Joe’s creative ideas.
                  </p>
                  <p>
                    If I may, please allow me to direct your listening to specific incidents along the way.
                  </p>

                  <p>
                    The opening track, “Close To So Far” sets the tone for the general style of the music. It is hip and melodic. Woody has the first solo of the record and, if you have never heard him perform, you will realize that his abilities are a testament to my statement in the first paragraph of these liner notes. Then check out Mike Williamson’s improvisation on trombone as he deftly handles this tricky chord progression. The band’s drummer, Shawn Hajizadeh, makes the chart and the soloists feel good. He has a wonderful flowing swing feel with an excellent command of the ride cymbal (where, for jazz, the groove really happens on the drum kit!). But his drum solos on this track are also very hip. Retrospectively, you can appreciate Shawn’s sense of discipline as he mostly keeps his “chops” in reserve and keeps “time” which is the best way to accompany the band and respect Joe’s writing.
                  </p>

                  <p>
                    “Nomads” begins with a wonderfully colorful and harmonically interesting chorale that is led by the band’s lead trumpet player, Lou Gagliardi. Although Lou certainly has the ability to play in the “stratosphere”, he shows us how he can deftly change gears with his beautifully dark and warm tone that perfectly sets the mood of the piece. Eventually we hear two accomplished improvisations: one from the band’s lead alto saxophonist, Jonathan Christie, and one from the jazz tenor saxophonist, Derrick Coffin. Notice how each of them navigates skillfully through this interesting harmonic progression. But they aren’t just spewing notes; check out their melodicism and phrasing; very musical indeed.
                  </p>

                  <p>
                    If you’re not duly impressed with the first two tracks, perhaps “A Widow’s Tale” will raise your eyebrows. The performance concepts that are required for this composition are very difficult because a critical balance of opposing ideas is required in various aspects. The piece has a “cool” veneer but the under layer must be intense. The kaleidoscopic tapestry within the composition requires absolute precision but the separate horn entrances must also flow as if they were performed by one player (similar to a pianist). Remember that this recording was done live in a concert hall. There was no artificial balancing by a recording engineer. That means that the band had to balance itself via careful listening from each player throughout the ensemble. Also listen to how Jonathan Christie respects the interesting mood Joe has created. He seamlessly incorporates his improvisation into the fabric of Joe’s writing; the mood and sense of space are perfect. Jonathan builds intensity (as the horns enter with backgrounds) and then hands it off to Joe, as the solo pianist, to handle the next layer of intensity. Through it all, from the very first “note”, Shawn performs a “solo” on drums that sets the tone of the piece perfectly. It’s not a typical “drum solo”. It’s a mature quasi solo with a soloistic “time playing” concept in it. It is loose but also intense without being bombastic. Bravo.
                  </p>

                  <p>
                    “La Belle Lucia” demonstrates Joe’s writing in a different light. As I hear the opening phrases of this composition, I think of the great Billy Strayhorn’s writing. If you hear that too, then you can also surmise that Joe also has a gift for writing beautifully melodic ballads. The title translated in English is “the beautiful Lucia” who happens to be Joe’s wife. I’m sure that she is very happy with his creation in her honor and, as a result, Joe is probably enjoying an extra special home-cooked Italian meal as I write this. Buon appetito, Guiseppe!
                  </p>

                  <p>
                    “Julian” takes the listener in yet another direction towards a more popular contemporary style. The melody is simple and pleasant while the rhythm section drives the music in a subtle way. The composition seems predictable at first but listen to the background textures that transport the piece into a very panoramic environment and to unexpected places. The dialogue between the two trombonists, Bennett Fisher and Robert Boone, is also unique and effective as is Ryan Owen’s bass solo. Listen also to Joe’s wonderfully soaring improvised melodies over the ensemble and Derrick Coffin’s melodic tenor sax solo that reminds me of the effective melodic playing of Wayne Shorter.
                  </p>

                  <p>
                    Speaking of Wayne Shorter, the theme of “My Idea of Fun” reminds me of his writing style. The monothematic idea travels to different harmonic regions that force the listener to cling to it and hopefully enjoy the adventurous tour. The medium-slow swing groove is also crucial. It is lusciously fat and loose and thus feels great. This mature concept of “time” at this tempo is not easy for young musicians to capture convincingly. Again, please check out Shawn’s wonderful “ride” cymbal playing and Ryan’s solid yet smooth bass lines. Also appreciate how fluently they transition to double-time for Joe’s piano solo and back to the original groove. Ralph Stivison’s improvisation on trumpet matches the music’s concept perfectly. He lets us know that improvisation is not just playing the correct notes with their corresponding harmony. It’s about capturing the mood, the feel, and the style. So listen to Ralph’s tone, articulation, phrasing (in and out of time), and how he constructs an overall shape to his spontaneous musical message. Not to be outdone, once again Jonathan Christie gives the listener another enjoyable and interesting listening experience as he develops his improvisation slowly and builds with the written horn parts. Joe’s ensemble writing is so interesting and the band does a great job with it. As you listen though, remember that, although the music here is highly interactive and complex, it still swings hard. That’s rule number one when you write in this rhythmic groove. You nailed it, Joe! And so did the band!
                  </p>

                  <p>
                    As you listen to the title track, “Big Motel”, you might find yourself whispering “Wow!” There’s nothing easy about this up-tempo chart but the band does a great job handling it AND making it swing. There are some very tricky melodic passages (especially for the trombones), stop-time figures, and interesting harmonic clusters. Deeper listeners may recognize the complex harmonic progressions of Coltrane’s “Giant Steps” along with a chain of chromatic II-V sequences. In the area of improvisation, this calls for a tenor saxophonist who can really deliver. That’s why you are listening to Woody Witt on this track. And through it all, the “glue” to bring everything together is the band’s wonderful drummer Shawn Hajizadeh. I hope any young aspiring jazz drummer who listens to this will hear my message and Shawn’s too. His time is solid yet relaxed. His ride cymbal crystallizes the time while controlling the ‘drums’ within his kit to create a careful proportion of drums to cymbals. This creates a beautiful transparency of sound that allows Joe’s densely melodic and contrapuntal writing to be heard clearly.
                  </p>

                  <p>
                    Joe’s writing in “Willows” takes the listener in yet another direction. Starting with abstract textures on the piano, the music morphs into a ruminating, bluesy mood that reminds me of Charlie Mingus’ great composition “Goodbye, Pork-Pie Hat”. You can really feel passion emanate from each player in this band. Their performance affirms another important adage often stated amongst musicians and especially music teachers: “It is better to play music from the heart than from the head.” I would say that Woody and Joe have done an admirable job in imparting this wisdom to their students.
                  </p>

                  <p>
                    Congratulations to Woody, Joe, and each of the members of the band for creating these memorable and enjoyable recordings.
                  </p>

                  <p>With respect and appreciation, </p>
                  <p>Rich DeRosa </p>
                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--end big area-->

<footer>
  <div class="container">
    <div class="col-xs-12">
      <div class="copyright">
        <p>&copy;2015 All Rights Reserved. </p>
      </div>
    </div>
  </div>
</footer>
