<section class="slider_area">
    <h2 class="section_header">slider</h2>
    {{image-slider}}
</section><!--end slider_area-->

<section class="blocksarea">
    <h2 class="section_header">block</h2>
    <div class="innerbackgrouond container">
        <div class="row">
            <div class="mondynightarea col-xs-12">
                <h2 class="mondaynight">Monday Night HCC Jazz Band</h2>
            </div>
        </div>
        <div class="blockrow row">
            <div class="col-xs-12 col-sm-6">
                {{foundation-misson}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{foundation-events}}
            </div>
        </div>
    </div>
</section><!--end slider_area-->
{{big-motel-promo}}
