<div class="single_block">
    <h2><span>//</span>events</h2>
    {{#each events as |event|}}
        <div class="performance">
            <i class="fa fa-star"></i>
            <h3>{{event.title}}</h3>
            <span>{{moment-format event.startDate "MMMM Do @ h:mm a"}}</span>
        </div>
    {{/each}}
</div>
