<div class="single_block">
    <h2><span>//</span>events</h2>
    <div class="performance">
        <i class="fa fa-star"></i>
        <h3>Performance @ Cadillac Bar </h3>
        <span>November 24 @ 7:30 pm</span>
    </div>
</div>
