<div class="innerbackgrouond container">
  <ul class="rslides" id="slider1">
    <li class="all_li">
      <iframe src="http://www.youtube.com/embed/9vvHVCQwiaE"></iframe>
    </li>
    <li class="all_li">
      <img src="/assets/img/2.jpg" alt="Slider photo" />
    </li>
    <li class="all_li">
      <img src="/assets/img/3.jpg" alt="Slider photo" />
    </li>
    <li class="all_li">
      <img src="/assets/img/4.jpg" alt="Slider photo" />
    </li>
  </ul>
</div>
