<div class="single_block">
    <h2><span>//</span>our mission</h2>
    <p>
        To promote education and an appreciation of jazz in the greater Houston area by raising funds for workshops, lectures, clinics, scholarships, performances and sponsorship of the Houston Community College Jazz program.
    </p>
</div>
